{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-header text-center">
                <h3>Resumo do seu Pedido</h3>
            </div>
            <div class="card-body">
                <p><b>Seu arquivo:</b> {{ pedido.documentos.first.nome_arquivo }}</p>
                <p><b>Total de páginas:</b> {{ pedido.documentos.first.qtd_paginas }}</p>
                <hr>
                <h4 class="text-success text-center">Valor Total: R$ {{ pedido.valor_total|stringformat:".2f" }}</h4>
                <p class="text-muted text-center">O valor é uma estimativa e será confirmado antes da impressão.</p>
            </div>
        </div>
        <div class="mt-4 text-center">
            <form action="{% url 'finalizar_pedido' pedido.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success btn-lg">Prosseguir para o Pagamento</button>
            </form>
        </div>
    </div>
{% endblock %}
