{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container text-center mt-5">
        <h1 class="display-4">Bem-vindo ao Imprime Aí!</h1>
        <p class="lead">O seu serviço de delivery de impressões chegou.</p>
        <hr class="my-4">
        
        {% if user.is_authenticated %}
            <p>Olá, {{ user.cliente.nome_de_exibicao }}!</p>
            <a href="{% url 'fazer_pedido' %}" class="btn btn-success btn-lg mt-3">Fazer Pedido</a>
            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-lg mt-3">Sair</button>
            </form>
        {% else %}
            <p>Para começar a fazer seus pedidos, cadastre-se ou faça login!</p>
            <a href="{% url 'login' %}" class="btn btn-primary btn-lg mt-3">Entrar</a>
            <a href="{% url 'register_user' %}" class="btn btn-secondary btn-lg mt-3">Cadastrar</a>
        {% endif %}

        <!-- Adicionando os folders abaixo do texto -->
        <div class="display-5">
            <div class="folder">
                <img src="{% static 'img/folder1.png' %}" alt="Não perca mais a cabeça com gráfica!" class="img-fluid rounded shadow-lg">
            </div>
            <div class="folder">
                <img src="{% static 'img/folder2.png' %}" alt="Comodidade e praticidade" class="img-fluid rounded shadow-lg">
            </div>
        </div>
    </div>
{% endblock %}

