{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Definir Nova Senha</h3>
                    </div>
                    <div class="card-body">
                        {% if validlink %}
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-primary">Salvar Nova Senha</button>
                                </div>
                            </form>
                        {% else %}
                            <p>O link de redefinição de senha é inválido ou expirou. Por favor, tente novamente.</p>
                            <div class="mt-3 text-center">
                                <a href="{% url 'password_reset' %}" class="btn btn-primary">Tentar Novamente</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
