{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5 text-center">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Pedido Finalizado com Sucesso!</h4>
            <p>Agradecemos a preferência. Seu pedido será processado e entregue em breve.</p>
            <hr>
            <p class="mb-0">Aguarde o nosso contato para os detalhes da entrega.</p>
        </div>
        <div class="mt-4">
            <a href="{% url 'homepage' %}" class="btn btn-primary">Voltar para a Página Inicial</a>
        </div>
    </div>
{% endblock %}
